@import "./resets";
@import "./variables";

@function size($size) {
  @return map-get($font-sizes, $size);
}

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: $font;
}

h1 {
  font-size: map-get($font-sizes, title);
}

.main {
  @include flexCenter(column);
  margin: 0 auto;
  width: 75%;

  p {
    font-size: size(regular);
  }

  .paragraph1 {
    color: orange;
  }

  .paragraph2 {
    @extend .paragraph1; // you can extend the already present css of an element
    background-color: #111;
    padding: 1rem;
  }

  @include mobile {
    flex-direction: row;
  }
}
