body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 44px;
}
kbd {
  border: 1px solid black;
  padding: 4px 6px;
  font-size: 16px;
  background-color: #ddd;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  gap: 18px;
}
.container {
  display: flex;
  border: 2px dashed black;
}
.block {
  border: 1px solid black;
  background-color: white;
  width: 25px;
  aspect-ratio: 1 / 1;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.guide {
  border-top: 2px dashed black;
  padding-top: 16px;
}
button {
  color: black;
  background-color: white;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  border: 2px solid black;
}
button:hover {
  color: white;
  background-color: #333;
}
.grid {
  margin-top: 24px;
  font-size: 17px;
  border-top: 2px dashed black;
  padding-top: 16px;
}
.grid input {
  font-size: 16px;
  padding: 4px;
  width: 40px;
}
#color-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
